---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

import elena from "assets/people/elena-torfs.png";
import peter from "assets/people/peter-vanrolleghem.png";

import alexandroVargas from "assets/people/alejandro-vargas.png";
import almaSchellart from "assets/people/alma-schellart.png";
import andreiaAmaral from "assets/people/andreia-amaral.png";
import andrewShaw from "assets/people/andrew-shaw.png";
import arifurRahman from "assets/people/arifur-rahman.png";
import benedekPlosz from "assets/people/benedek-plosz.png";
import bingJieNi from "assets/people/bing-jie-ni.png";
import bruceJohnson from "assets/people/bruce-johnson.png";
import brankoKerkez from "assets/people/branko-kerkez.jpeg";
import celineVaneeckhaute from "assets/people/celine-vaneeckhaute.png";
import charlesBott from "assets/people/charles-bott.png";
import chrisDeGroot from "assets/people/chris-de-groot.png";
import damienBatstone from "assets/people/damien-batstone.png";
import danielNolasco from "assets/people/daniel-nolasco.png";
import davidIkumi from "assets/people/david-ikumi.png";
import davidMatamorros from "assets/people/david-matamorros.png";
import dirkMuschalla from "assets/people/dirk-muschalla.png";
import draganSavic from "assets/people/dragan-savic.png";
import dwightHouweling from "assets/people/dwight-houweling.png";
import eberhardMorgenroth from "assets/people/eberhard-morgenroth.png";
import eduardoAyesa from "assets/people/eduardo-ayesa.png";
import elhamRamin from "assets/people/elham-ramin.png";
import evelineVolcke from "assets/people/eveline-volcke.png";
import fatehChebana from "assets/people/fateh-chebana.png";
import francoisAnctil from "assets/people/francois-anctil.png";
import giacomoBellandi from "assets/people/giacomo-bellandi.png";
import giorgioManina from "assets/people/giorgio-manina.png";
import ignasiRodriguezRoda from "assets/people/ignasi-rodriguez-roda.png";
import janAdamowski from "assets/people/jan-adamowski.png";
import janelcyAlfares from "assets/people/janelcy-alfares.png";
import jeanLucBertrandKrajewski from "assets/people/jean-lub-bertrand-krajewski.png";
import jeanPhilippeSteyer from "assets/people/jean-philippe-steyer.png";
import jesVollertsen from "assets/people/jes-vollertsen.png";
import jimWicks from "assets/people/jim-wicks.png";
import jipingJiang from "assets/people/jiping-jiang.png";
import joaoPauloLeitao from "assets/people/joao-paulo-leitao.png";
import joaquimComas from "assets/people/joaquim-comas.png";
import juanBaeza from "assets/people/juan-baeza.png";
import julienLaurent from "assets/people/julien-laurent.png";
import kateNewhart from "assets/people/kate-newhart.png";
import kimErvin from "assets/people/kim-ervin.png";
import kimberlySolon from "assets/people/kimberly-solon.png";
import lievRieger from "assets/people/liev-rieger.png";
import linaBelia from "assets/people/lina-belia.png";
import liuYe from "assets/people/liu-ye.png";
import lloydTownley from "assets/people/lloyd-townley.png";
import lluisCorominas from "assets/people/lluis-corominas.png";
import lorenzoBenedetti from "assets/people/lorenzo-benedetti.png";
import magnusArnell from "assets/people/magnus-arnell.png";
import manfredSchutze from "assets/people/manfred-schutze.png";

import marieNoellePons from "assets/people/marie-noelle-pons.png";
import martijnKuller from "assets/people/martijn-kuller.png";
import martinPleau from "assets/people/martin-pleau.png";
import paulLessard from "assets/people/paul-lessard.png";
import peterBach from "assets/people/peter-bach.png";
import sarahDorner from "assets/people/sarah-dorner.png";
import sinaBorzoei from "assets/people/sina-borzoei.png";
import sophieDuchesne from "assets/people/sophie-duchesne.png";
import sovannaTik from "assets/people/sovanna-tik.png";
import tahaOuarda from "assets/people/taha-ouarda.png";
import timothyHoloway from "assets/people/timothy-holoway.png";
import ulfJeppsson from "assets/people/ulf-jeppsson.png";
import vickyRuano from "assets/people/vicky-ruano.png";
import wolfgangRauch from "assets/people/wolfgang-rauch.png";
import xavierFloresAlsina from "assets/people/xavier-flores-alsina.png";
import yanchenLiu from "assets/people/yanchen-liu.png";
import yvesComeau from "assets/people/yves-comeau.png";
import zoranKapelan from "assets/people/zoran-kapelan.png";
import alyinaHashmi from "assets/people/alyina-hashmi.jpeg";
import balpreetKaur from "assets/people/balpreet-kaur.jpeg";
import camilaDBastiani from "assets/people/camila-d-bastiani.jpeg";
import christinaMazivila from "assets/people/christina-mazivila.jpeg";
import colineMilhau from "assets/people/coline-milhau.jpeg";
import hosseinNorouziFirouz from "assets/people/hossein-norouzi-firouz.jpeg";
import laurenceStrubbe from "assets/people/laurence-strubbe.jpeg";
import mariaFarago from "assets/people/maria-farago.jpeg";
import medhaviGupta from "assets/people/medhavi-gupta.jpeg";
import nataliaDuque from "assets/people/natalia-duque.jpeg";
import renataStarostka from "assets/people/renata-starostka.jpeg";
import rihenMejdoubElFehri from "assets/people/rihem-mejdoub-el-fehri.jpeg";
import sanazMohebali from "assets/people/sanaz-mohebali.jpg";
import stephanieAparicio from "assets/people/stephanie-aparicio.jpeg";
import susanGeorge from "assets/people/susan-george.jpeg";
import xinyiZhang from "assets/people/xinyi-zhang.jpeg";
import yalinLi from "assets/people/yalin-li.jpeg";

import ahmedAlSayed from "assets/people/ahmed-alsayed.jpeg";
import albertKonig from "assets/people/albert-konig.jpeg";
import benatElduayenEchave from "assets/people/benat-elduayen-echave.jpeg";
import borjaValverdePerez from "assets/people/borja-valverde-perez.jpeg";
import buyisileKholisa from "assets/people/buyisile-kholisa.jpeg";
import chengYang from "assets/people/cheng-yang.jpeg";
import christofferWarff from "assets/people/christoffer-warff.jpeg";
import davidFernandes from "assets/people/david-fernandes-del-pozo.jpeg";
import deshbhushanPatil from "assets/people/deshbhushan-patil.jpeg";
import fabioPolesel from "assets/people/fabio-polesel.jpeg";
import fanlingMeng from "assets/people/fanling-meng.jpeg";
import gabrielCapson from "assets/people/gabriel-capson-tojo.jpeg";
import hamzaKhotbi from "assets/people/hamza-khotbi.jpeg";
import jaysonGabrielPinza from "assets/people/jayson-gabriel-pinza.jpeg";
import jedrzejBylka from "assets/people/jedrzej-bylka.jpeg";
import jingSun from "assets/people/jing-sun.jpeg";

import joshuaMatesun from "assets/people/joshua-matesun.jpeg";
import kesterMccullough from "assets/people/kester-mccullough.jpeg";
import mahmuddulHassan from "assets/people/mahmuddul-hassan.jpeg";
import mahtabAhmedPanhwar from "assets/people/mahtab-ahmed-panhwar.jpeg";
import marioSalinas from "assets/people/mario-salinas-toledano.jpeg";
import nielsNicolai from "assets/people/niels-nicolai.jpeg";
import peterWasswa from "assets/people/peter-wasswa.jpeg";
import qademZohair from "assets/people/qadem-zohair.jpeg";
import raghwendraSingh from "assets/people/raghwendra-singh.jpeg";
import rhysThomson from "assets/people/rhys-thomson.jpeg";
import robNaylor from "assets/people/rob-naylor.jpeg";
import sababAliShah from "assets/people/sabab-ali-shah.jpeg";
import safiullahMohamedRafares from "assets/people/safiullah-mohamed-rafees.jpeg";
import saumitraRai from "assets/people/saumitra-rai.jpeg";
import shalongoAngula from "assets/people/shalongo-angula.jpeg";
import sijeTang from "assets/people/sijie-tang.jpeg";
import tawhidurRahaman from "assets/people/tawhidur-rahaman.jpeg";
import triLe from "assets/people/tri-le.jpeg";
import ziedAmama from "assets/people/zied-amama.jpeg";
import user from "assets/people/user.png";
import mostafaKhalil from "assets/people/mostafa-khalil.png";
import sabaDaneshgar from "assets/people/saba-daneshgar.png";

const ywps = [
  {
    name: "Ahmed AlSayed",
    title: "Northwestern University/York University",
    avatar: {
      src: ahmedAlSayed,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Albert König",
    title: "Graz University of Technology",
    avatar: {
      src: albertKonig,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Alyina Hashmi",
    title: "IWA YWP Pakistan",
    avatar: {
      src: alyinaHashmi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Balpreet Kaur",
    title: "TERI School of Advanced Studies",
    avatar: {
      src: balpreetKaur,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Beñat Elduayen-Echave",
    title: "Ceit-BRTA",
    avatar: {
      src: benatElduayenEchave,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Borja Valverde Perez",
    title: "DTU",
    avatar: {
      src: borjaValverdePerez,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Buyisile Kholisa",
    title: "Water Research Commission",
    avatar: {
      src: buyisileKholisa,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Camila D' Bastiani",
    title: "Technological University Dublin",
    avatar: {
      src: camilaDBastiani,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Cheng Yang",
    title: "Jacobs Engineering Group",
    avatar: {
      src: chengYang,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Christina Mazivila",
    title: "University of Cape Town",
    avatar: {
      src: christinaMazivila,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Christoffer Warff",
    title: "RISE",
    avatar: {
      src: christofferWarff,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Coline Milhau",
    title: "Université Laval",
    avatar: {
      src: colineMilhau,
      width: 400,
      height: 400,
    },
  },
  {
    name: "David Fernandes del Pozo",
    title: "BIOMATH - University of Ghent",
    avatar: {
      src: davidFernandes,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Deshbhushan Patil",
    title: "BITS Pilani",
    avatar: {
      src: deshbhushanPatil,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Fabio Polesel",
    title: "DHI",
    avatar: {
      src: fabioPolesel,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Fanling Meng",
    title: "Tsinghua University",
    avatar: {
      src: fanlingMeng,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Gabriel Capson-Tojo",
    title: "INRAE",
    avatar: {
      src: gabrielCapson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Hamza Khotbi",
    title: "Agrilogy",
    avatar: {
      src: hamzaKhotbi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Hossein Norouzi Firouz",
    title: "EngD graduate",
    avatar: {
      src: hosseinNorouziFirouz,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Houégnon Géraud Vinel - Gbewezoun",
    title: "C2EA-INE, Université d'Abomey-Calavi, Benin ",
    avatar: {
      src: user,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jayson Gabriel Pinza",
    title: "University of Antwerp, KU Leuven",
    avatar: {
      src: jaysonGabrielPinza,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jedrzej Bylka",
    title: "Poznan University of Technology",
    avatar: {
      src: jedrzejBylka,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jing Sun",
    title: "Tongji University",
    avatar: {
      src: jingSun,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jiuling Li",
    title: "University of Queensland",
    avatar: {
      src: user,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Joshua Matesun",
    title: "Water Research Group, University of Cape Town",
    avatar: {
      src: joshuaMatesun,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kester McCullough",
    title: "HRSD",
    avatar: {
      src: kesterMccullough,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Laurence Strubbe",
    title: "Ghent University",
    avatar: {
      src: laurenceStrubbe,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Mahmuddul Hassan",
    title: "Baltimore City Department of Public Works",
    avatar: {
      src: mahmuddulHassan,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Mahtab Ahmed Panhwar",
    title: "Ministry of Water Resources",
    avatar: {
      src: mahtabAhmedPanhwar,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Maria Faragó",
    title: "Rambøll Water",
    avatar: {
      src: mariaFarago,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Mario A. Salinas Toledano",
    title: "University of Northern British Columbia",
    avatar: {
      src: marioSalinas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Tawhidur Rahaman",
    title: "Department of Public Health Engineering",
    avatar: {
      src: tawhidurRahaman,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Medhavi Gupta",
    title: "Jacobs",
    avatar: {
      src: medhaviGupta,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Mostafa Khalil",
    title: "University of Alberta",
    avatar: {
      src: mostafaKhalil,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Natalia Duque",
    title: "eawag",
    avatar: {
      src: nataliaDuque,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Niels Nicolai",
    title: "Waterleau",
    avatar: {
      src: nielsNicolai,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Peter Wasswa",
    title: "Institute for Water Research, Rhodes University South Africa",
    avatar: {
      src: peterWasswa,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Zohair Qadem",
    title: "Sidi Mohamed Ben Abdellah University",
    avatar: {
      src: qademZohair,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Raghwendra Singh",
    title: "National Institute of Hydrology",
    avatar: {
      src: raghwendraSingh,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Renata Starostka",
    title: "University of Michigan",
    avatar: {
      src: renataStarostka,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Rhys Thomson",
    title: "University of Queensland",
    avatar: {
      src: rhysThomson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Rihem Mejdoub El Fehri",
    title: "Earth sciences",
    avatar: {
      src: rihenMejdoubElFehri,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Rob Naylor",
    title: "Thames Water",
    avatar: {
      src: robNaylor,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Saba Daneshgar",
    title: "BIOMATH - University of Ghent",
    avatar: {
      src: sabaDaneshgar,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sabab Ali Shah",
    title: "Aror University of Art, Architecture, Design & Heritage Sindh",
    avatar: {
      src: sababAliShah,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Safiullah Mohamed Rafees",
    title: "Kolon Global",
    avatar: {
      src: safiullahMohamedRafares,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sanaz Mohebali",
    title: "Université Laval",
    avatar: {
      src: sanazMohebali,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Saumitra Rai",
    title: "University of Illinois Urbana Champaign",
    avatar: {
      src: saumitraRai,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Shalongo Angula",
    title: "University of Cape Town",
    avatar: {
      src: shalongoAngula,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sijie Tang",
    title: "Hong Kong Polytechnic University",
    avatar: {
      src: user,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Stéphanie Aparicio",
    title: "Global Omnium - YWP Spanish Chapter",
    avatar: {
      src: stephanieAparicio,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Susan George",
    title: "Instituto de la Grasa, Spanish National Research Council (CSIC)",
    avatar: {
      src: susanGeorge,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Tri Le",
    title: "Jacobs",
    avatar: {
      src: triLe,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Xinyi Zhang",
    title: "University of Illinois Urbana-Champaign",
    avatar: {
      src: xinyiZhang,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Yalin Li",
    title: "University of Illinois Urbana-Champaign",
    avatar: {
      src: yalinLi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Zied Amama",
    title: "Électricité de France",
    avatar: {
      src: ziedAmama,
      width: 400,
      height: 400,
    },
  },
];

const sciCommittee = [
  {
    name: "Branko Kerkez",
    title: "University of Michigan",
    avatar: {
      src: brankoKerkez,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Manfred Schütze",
    title: "ifak",
    avatar: {
      src: manfredSchutze,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Paul Lessard",
    title: "Université Laval",
    avatar: {
      src: paulLessard,
      width: 400,
      height: 400,
    },
  },

  {
    name: "Peter Vanrolleghem",
    title: "Université Laval",
    avatar: {
      src: peter,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Elena Torfs",
    title: "Université Laval",
    avatar: {
      src: elena,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sophie Duchesne",
    title: "INRS",
    avatar: {
      src: sophieDuchesne,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Yves Comeau",
    title: "Polytechnque Montréal",
    avatar: {
      src: yvesComeau,
      width: 400,
      height: 400,
    },
  },
  {
    name: "François Anctil",
    title: "Université Laval",
    avatar: {
      src: francoisAnctil,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Martin Pleau",
    title: "TetraTech",
    avatar: {
      src: martinPleau,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Fateh Chebana",
    title: "INRS",
    avatar: {
      src: fatehChebana,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Taha Ouarda",
    title: "INRS",
    avatar: {
      src: tahaOuarda,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dwight Houweling",
    title: "Dynamita",
    avatar: {
      src: dwightHouweling,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Leiv Rieger",
    title: "inCTRL",
    avatar: {
      src: lievRieger,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sarah Dorner",
    title: "Polytechnique Montréal",
    avatar: {
      src: sarahDorner,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Alejandro Vargas",
    title: "National Autonomous University of Mexico",
    avatar: {
      src: alexandroVargas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Bing-Jie Ni",
    title: "University of Technology Sydney",
    avatar: {
      src: bingJieNi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Damien Batstone",
    title: "University of Queensland",
    avatar: {
      src: damienBatstone,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eberhard Morgenroth",
    title: "eawag",
    avatar: {
      src: eberhardMorgenroth,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eduardo Ayesa",
    title: "CEIT - University of Navarra",
    avatar: {
      src: eduardoAyesa,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Elham Ramin",
    title: "DTU",
    avatar: {
      src: elhamRamin,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Giacomo Bellandi",
    title: "AM-team",
    avatar: {
      src: giacomoBellandi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Giorgio Manina",
    title: "University of Palermo",
    avatar: {
      src: giorgioManina,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jean-Luc Bertrand Krajewski",
    title: "INSA Lyon",
    avatar: {
      src: jeanLucBertrandKrajewski,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Julien Laurent",
    title: "University of Strasbourg",
    avatar: {
      src: julienLaurent,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kimberly Solon",
    title: "Ghent University",
    avatar: {
      src: kimberlySolon,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lina Belia",
    title: "Primodal",
    avatar: {
      src: linaBelia,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lluis Corominas",
    title: "ICRA",
    avatar: {
      src: lluisCorominas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Marie-Noelle Pons",
    title: "CNRS, University of Lorraine",
    avatar: {
      src: marieNoellePons,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Peter Bach",
    title: "eawag",
    avatar: {
      src: peterBach,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Ulf Jeppsson",
    title: "Lund University",
    avatar: {
      src: ulfJeppsson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Wolfgang Rauch",
    title: "University of Innsbruck",
    avatar: {
      src: wolfgangRauch,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Xavier Flores-Alsina",
    title: "DTU",
    avatar: {
      src: xavierFloresAlsina,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Charles Bott",
    title: "HRSD",
    avatar: {
      src: charlesBott,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sina Borzoei",
    title: "Biomath",
    avatar: {
      src: sinaBorzoei,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Lorenzo Benedetti",
    title: "Waterways",
    avatar: {
      src: lorenzoBenedetti,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Andreia Amaral",
    title: "Université Laval",
    avatar: {
      src: andreiaAmaral,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Timothy Holoway",
    title: "Thames Water",
    avatar: {
      src: timothyHoloway,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Bruce Johnson",
    title: "Jacobs",
    avatar: {
      src: bruceJohnson,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Juan Baeza",
    title: "CEIT",
    avatar: {
      src: juanBaeza,
      width: 400,
      height: 400,
    },
  },
  {
    name: "LLoyd Townley",
    title: "Nanjing Smart Technology Development",
    avatar: {
      src: lloydTownley,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Sovanna Tik",
    title: "Université Laval",
    avatar: {
      src: sovannaTik,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Janelcy Alfares",
    title: "VITO",
    avatar: {
      src: janelcyAlfares,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jiping Jiang",
    title: "Southern University of Science and Technology",
    avatar: {
      src: jipingJiang,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Zoran Kapelan",
    title: "TU Delft",
    avatar: {
      src: zoranKapelan,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dirk Muschalla",
    title: "UGraz",
    avatar: {
      src: dirkMuschalla,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Alma Schellart",
    title: "University of Glasgow",
    avatar: {
      src: almaSchellart,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Andrew Shaw",
    title: "Black and Veach",
    avatar: {
      src: andrewShaw,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Arifur Rahman",
    title: "Jacobs",
    avatar: {
      src: arifurRahman,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Benedek Plosz",
    title: "University of Bath",
    avatar: {
      src: benedekPlosz,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Céline Vaneeckhaute",
    title: "Université Laval",
    avatar: {
      src: celineVaneeckhaute,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Chris De Groot",
    title: "Western University",
    avatar: {
      src: chrisDeGroot,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Daniel Nolasco",
    title: "NOLASCO & Asoc.",
    avatar: {
      src: danielNolasco,
      width: 400,
      height: 400,
    },
  },
  {
    name: "David Ikumi",
    title: "University of Cape Town",
    avatar: {
      src: davidIkumi,
      width: 400,
      height: 400,
    },
  },
  {
    name: "David Matamorros",
    title: "ESPOL",
    avatar: {
      src: davidMatamorros,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Dragan Savic",
    title: "KWR",
    avatar: {
      src: draganSavic,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Eveline Volcke",
    title: "Ghent University",
    avatar: {
      src: evelineVolcke,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Ignasi Rodriguez-Roda",
    title: "ICRA",
    avatar: {
      src: ignasiRodriguezRoda,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jan Adamowski",
    title: "McGill University",
    avatar: {
      src: janAdamowski,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jean-Philippe Steyer",
    title: "INRA Narbonne",
    avatar: {
      src: jeanPhilippeSteyer,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jes Vollertsen",
    title: "Aalborg University",
    avatar: {
      src: jesVollertsen,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Jim Wicks",
    title: "Fluid Group",
    avatar: {
      src: jimWicks,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Joao Paulo Leitao",
    title: "EAWAG",
    avatar: {
      src: joaoPauloLeitao,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Joaquim Comas",
    title: "CEIT",
    avatar: {
      src: joaquimComas,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kate Newhart",
    title: "Westpoint",
    avatar: {
      src: kateNewhart,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Kim Ervin",
    title: "Jacobs",
    avatar: {
      src: kimErvin,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Liu Ye",
    title: "University of Queensland",
    avatar: {
      src: liuYe,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Magnus Arnell",
    title: "RISE, Lund University",
    avatar: {
      src: magnusArnell,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Martijn Kuller",
    title: "University Utrecht",
    avatar: {
      src: martijnKuller,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Vicky Ruano",
    title: "University of Valencia",
    avatar: {
      src: vickyRuano,
      width: 400,
      height: 400,
    },
  },
  {
    name: "Yanchen Liu",
    title: "Tsingua University",
    avatar: {
      src: yanchenLiu,
      width: 400,
      height: 400,
    },
  },
];

const title = "Scientific Committee";
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{title}</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        The scientific committee for Watermatex2023 will be made up of teams of
        Experienced Water Professionals (EWP) and Young Water Professionals
        (YWP). EWPs and YWPs will review abstracts together. Throughout the
        review process, the EWPs will provide mentorship and guidance to their
        YWP peers. The abstract review process is scheduled to take place
        between mid-April and mid-May 2023.
      </p>
    </div>
    <div class="mx-auto max-w-4xl mt-12">
      <h2 class="text-2xl font-bold py-10">Young Water Professionals</h2>
      <div class="grid md:grid-cols-3 gap-10">
        {
          ywps
            .sort((a, b) =>
              a.name.split(" ").at(-1).toLowerCase() >
              b.name.split(" ").at(-1).toLowerCase()
                ? 1
                : -1
            )
            .map((item) => (
              <div class="group">
                <div class="w-full aspect-square">
                  <Image
                    {...item.avatar}
                    format="png"
                    alt="Team"
                    class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                  />
                </div>

                <div class="mt-4 text-center">
                  <h2 class="text-lg text-gray-400"> {item.name}</h2>
                  <h3 class="text-sm text-slate-500"> {item.title}</h3>
                </div>
              </div>
            ))
        }
      </div>
    </div>
    <div class="mx-auto max-w-4xl mt-12">
      <h2 class="text-2xl font-bold py-10">Experienced Water Professionals</h2>
      <div class="grid md:grid-cols-3 gap-10">
        {
          sciCommittee
            .sort((a, b) =>
              a.name.split(" ").at(-1).toLowerCase() >
              b.name.split(" ").at(-1).toLowerCase()
                ? 1
                : -1
            )
            .map((item) => (
              <div class="group">
                <div class="w-full aspect-square">
                  <Image
                    {...item.avatar}
                    format="png"
                    alt="Team"
                    class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                  />
                </div>

                <div class="mt-4 text-center">
                  <h2 class="text-lg text-gray-400"> {item.name}</h2>
                  <h3 class="text-sm text-slate-500"> {item.title}</h3>
                </div>
              </div>
            ))
        }
      </div>
    </div>
  </Container>
</Layout>
