---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";

import KateNewhart from "@assets/people/Kate-Newhart2.png";
import brankoKerkez from "@assets/people/branko-kerkez.jpeg";
import bruceBeck from "@assets/people/bruce-beck.jpeg";
import elmiraHassanzadeh from "@assets/people/elmira-hassanzadeh.jpeg";
import gillesPatry from "@assets/people/gilles-patry.png";
import nereaUri from "@assets/people/nereaUri.jpeg";
import peterBach from "@assets/people/peter-bach.png";
import simonDuchi from "@assets/people/simon-duchi.png";

let bruce = {
  src: bruceBeck,
  alt: "Bruce Beck",
  name: "Bruce Beck",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let elmira = {
  src: elmiraHassanzadeh,
  alt: "Elmira Hassanzadeh",
  name: "Elmira Hassanzadeh",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let peter = {
  src: peterBach,
  alt: "Peter Marcus Bach",
  name: "Peter Marcus Bach",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let gilles = {
  src: gillesPatry,
  alt: "Gilles Patry",
  name: "Gilles Patry",
  width: 250,
  height: 250,
};

let simon = {
  src: simonDuchi,
  alt: "Simon Duchi",
  name: "Simon Duchi",
  width: 250,
  height: 250,
};

let nerea = {
  src: nereaUri,
  alt: "Nerea Uri Carreño",
  name: "Nerea Uri Carreño",
  width: 250,
  height: 250,
};

let kate = {
  src: KateNewhart,
  alt: "Kate Newhart",
  name: "Kate Newhart",
  width: 250,
  height: 250,
};

let branko = {
  src: brankoKerkez,
  alt: "Branko Kerkez",
  name: "Branko Kerkez",
  width: 250,
  height: 250,
};
---

<Layout title="Scientific Program">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Scientific Program</Fragment>
      <Fragment slot="desc">Time to put our thinking caps on</Fragment>
    </Sectionhead>

    <div
      class="sticky top-0 z-10 mt-16 md:mt-5 mx-12 md:mx-36 py-8 flex justify-center">
      <Link
        class="no-wrap bg-sky-500"
        href="https://whova.com/embedded/event/6UQh89uB%402Zzlw9sS3B5YXHR03xMxSe3Jc-ssawUo-g%3D/?utc_source=ems"
        target="_blank"
        data-reactroot="">
        See the detailed program
      </Link>
    </div>

    <div class="mt-8 md:mt-5 mx-12 md:mx-36 py-8">
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        The program
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference program will consist of 3 parallel sessions and
        interactive keynote sessions (2 experts, 2 visions). Posters will get
        the attention they deserve through a dedicated poster cocktail and
        poster breakfast.
      </p>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Keynotes
      </h2>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-1 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={bruce.src}
            alt={bruce.name}
            width={bruce.width}
            height={bruce.height}
          />

          <div class="order-2 justify-center">
            Presentation date: <br />
            September 24 2023 @ 17:30
          </div>
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          The opening keynote will be delivered by Mr. Bruce Beck. Bruce was a
          visionary leader and the driving force behind the establishment of the
          IWA MIA Specialist Group on Modelling and Integrated Assessment back
          in the 80s. Serving as chairman well into the 2000s, Bruce's
          unwavering passion and expertise have nurtured the group into one of
          the largest and most influential Specialist Groups within the IWA,
          covering all water systems.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 my-auto"
            src={elmira.src}
            alt={elmira.name}
            width={elmira.width}
            height={elmira.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />
            September 25 2023 @ 8:30
          </div>
        </div>
        <p class="text-lg text-slate-600 col-span-2 order-1 my-auto">
          Elmira Hassanzadeh, Associate Professor at Polytechnique Montréal will
          be discussing the paramount importance of "Community Engagement for
          Water Management Under Uncertainty." Elmira's research delves into
          integrated modelling of water resource systems, understanding system
          behaviour under changing conditions, and developing decision support
          tools based on stakeholders' perspectives for effective water
          management.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded justify-self-start order-1 py-2 my-auto"
            src={peter.src}
            alt={peter.name}
            width={peter.width}
            height={peter.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />September 25 2023 @ 8:30
          </div>
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Peter Marcus Bach is a Senior Research Scientist at the Eastern
          Switzerland University of Applied Sciences (OST). He brings a fresh
          perspective on "Modelling "Palettes" - A New Dawn of Integrated
          Assessment to Support Water Management's Role Towards Climate-Adaptive
          Cities." Peter's expertise lies in integrated modelling and blue-green
          infrastructures, and his research focuses on developing quantitative
          approaches to aid urban planning and adaptation to climate change. He
          is particularly passionate about promoting urban nature-based
          solutions to tackle environmental challenges.
        </p>
      </div>

      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 my-auto"
            src={gilles.src}
            alt={gilles.name}
            width={gilles.width}
            height={gilles.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />September 27 2023 @ 15:30
          </div>
        </div>
        <p class="text-lg text-slate-600 col-span-2 order-1 my-auto">
          Dr. Gilles Patry, a pioneering figure in environmental modeling and
          co-founder of Hydromantis Environmental Software Solutions, Inc., has
          a distinguished career spanning academia, leadership roles, and
          numerous accolades, including honorary doctorates and prestigious
          fellowships. At the conference's closing session, he will present a
          keynote on the evolution of AI-based control systems for wastewater
          treatment plants, tracing back to 1987 and highlighting key
          components, challenges, and visionary contributors.
        </p>
      </div>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Panelists
      </h2>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={simon.src}
            alt={simon.name}
            width={simon.width}
            height={simon.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Simon Duchi obtained his MSc in environmental engineering at Ghent
          University (Belgium). After starting his career at Antea Group as
          sewer modelling engineer, he was the first team member joining the
          AM-Team adventure. Simon helped designing and optimising numerous
          full-scale plants using CFD modelling in combination with kinetic
          modelling. He also leads several key projects as a project manager.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={branko.src}
            alt={branko.name}
            width={branko.width}
            height={branko.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-1 col-span-2 my-auto">
          Branko is an Associate Professor of Civil and Environmental
          Engineering at the University of Michigan, Ann Arbor, and the director
          of the Digital Water Lab at U-M. His group is working to enable
          “self-driving” water systems, which autonomously adapt themselves to
          changing conditions using real-time data and controls. He is the
          founder of Open-Storm.org, an open-source group dedicated to freely
          sharing hardware, software, and case studies on smart water systems.
          He is a recipient of the US National Science Foundation’s CAREER award
          and was recognized by US National Academy of Engineering as a Gilbreth
          Lecturer.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={nerea.src}
            alt={nerea.name}
            width={nerea.width}
            height={nerea.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Nerea Uri Carreño is a process engineer and innovation specialist at the Danish utility VCS,
          with 10 years of experience in the industry. She holds a PhD from DTU under the supervision of Xavi 
          Flores-Asina and Krist Gernæy. She has worked mostly on projects related to whole plant optimization,
          N2O emissions, MABR and sidestream anammox.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-2 py-2 justify-self-left my-auto"
            src={kate.src}
            alt={kate.name}
            width={kate.width}
            height={kate.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-1 col-span-2 my-auto">
          Dr. Kate Newhart is an Assistant Professor of Environmental
          Engineering with a specialization in data-driven monitoring and
          control for the water sector. Dr. Newhart holds a PhD in Civil and
          Environmental Engineering from the Colorado School of Mines and
          previously worked at Metro Water Recovery, the largest wastewater
          utility in the Rocky Mountains, as an engineer in their Technology and
          Innovation Division, where she led data handling and data-driven
          modeling efforts. Dr. Newhart's current work includes soft-sensor
          development for disinfection, resource recovery, and DBP mitigation in
          collaboration with utilities and universities across North America.
        </p>
      </div>
    </div>
    <div
      class="sticky top-0 z-10 mt-16 md:mt-5 mx-12 md:mx-36 py-8 flex justify-center">
      <Link
        class="text-lg mt-4 text-slate-600 py-2 mx-auto"
        rel="noopener"
        href="/program.pdf">
        Download the PDF program.
      </Link>
      <Link
        class="text-lg mt-4 text-slate-600 py-2 mx-auto"
        rel="noopener"
        href="/proceedings.pdf">
        Download the PDF proceedings (password protected).
      </Link>
    </div>
  </Container>

  <style>
    .sticky {
      background-color: white;
    }
  </style>
</Layout>
