---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

import bruceBeck from "@assets/people/bruce-beck.jpeg";
import elmiraHassanzadeh from "@assets/people/elmira-hassanzadeh.jpeg";
import peterBach from "@assets/people/peter-bach.png";
import brankoKerkez from "@assets/people/branko-kerkez.jpeg"
import jipingJiang from "@assets/people/jiping-jiang.jpg"
import simonDuchi from "@assets/people/simon-duchi.png"
import gillesPatry from "@assets/people/gilles-patry.png"
import KateNewhart from "@assets/people/Kate-Newhart2.png"


let bruce = {
  src: bruceBeck,
  alt: "Bruce Beck",
  name: "Bruce Beck",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let elmira = {
  src: elmiraHassanzadeh,
  alt: "Elmira Hassanzadeh",
  name: "Elmira Hassanzadeh",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let peter = {
  src: peterBach,
  alt: "Peter Marcus Bach",
  name: "Peter Marcus Bach",
  width: 250,
  height: 250,
  date: "Bla bla bla",
};

let gilles = {
  src: gillesPatry,
  alt: "Gilles Patry",
  name: "Gilles Patry",
  width: 250,
  height: 250
};

let simon = {
  src: simonDuchi,
  alt: "Simon Duchi",
  name: "Simon Duchi",
  width: 250,
  height: 250,
};

let jiang = {
  src: jipingJiang,
  alt: "Jiping Jiang",
  name: "Jiping Jiang",
  width: 250,
  height: 250,
};

let kate = {
  src: KateNewhart,
  alt: "Kate Newhart",
  name: "Kate Newhart",
  width: 250,
  height: 250,
};

let branko = {
  src: brankoKerkez,
  alt: "Branko Kerkez",
  name: "Branko Kerkez",
  width: 250,
  height: 250,
};

---

<Layout title="Scientific Program">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Scientific Program</Fragment>
      <Fragment slot="desc">Time to put our thinking caps on</Fragment>
    </Sectionhead>

    <div
      class="sticky top-0 z-10 mt-16 md:mt-5 mx-12 md:mx-36 py-8 flex justify-center">
      <Link
        class="text-lg mt-4 text-slate-600 py-2 mx-auto"
        rel="noopener"
        href="/program.pdf">
        Download the conference program.
      </Link>
    </div>

    <div class="mt-8 md:mt-5 mx-12 md:mx-36 py-8">
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        The program
      </h2>
      <p class="text-lg mt-4 text-slate-600 py-2">
        The conference program will consist of 3 parallel sessions and
        interactive keynote sessions (2 experts, 2 visions). Posters will get
        the attention they deserve through a dedicated poster cocktail and
        poster breakfast.
      </p>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Keynotes
      </h2>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-1 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={bruce.src}
            alt={bruce.name}
            width={bruce.width}
            height={bruce.height}
          />

          <div class="order-2 justify-center">
            Presentation date: <br />
            September 24 2023 @ 17:30
          </div>
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          The opening keynote will be delivered by Mr. Bruce Beck. Bruce was a
          visionary leader and the driving force behind the establishment of the
          IWA MIA Specialist Group on Modelling and Integrated Assessment back
          in the 80s. Serving as chairman well into the 2000s, Bruce's
          unwavering passion and expertise have nurtured the group into one of
          the largest and most influential Specialist Groups within the IWA,
          covering all water systems.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 my-auto"
            src={elmira.src}
            alt={elmira.name}
            width={elmira.width}
            height={elmira.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />
            September 25 2023 @ 8:30
          </div>
        </div>
        <p class="text-lg text-slate-600 col-span-2 order-1 my-auto">
          Elmira Hassanzadeh, Associate Professor at Polytechnique Montréal will
          be discussing the paramount importance of "Community Engagement for
          Water Management Under Uncertainty." Elmira's research delves into
          integrated modelling of water resource systems, understanding system
          behaviour under changing conditions, and developing decision support
          tools based on stakeholders' perspectives for effective water
          management.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded justify-self-start order-1 py-2 my-auto"
            src={peter.src}
            alt={peter.name}
            width={peter.width}
            height={peter.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />September 25 2023 @ 8:30
          </div>
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Peter Marcus Bach is a Senior Research Scientist at the Eastern
          Switzerland University of Applied Sciences (OST). He brings a fresh
          perspective on "Modelling "Palettes" - A New Dawn of Integrated
          Assessment to Support Water Management's Role Towards Climate-Adaptive
          Cities." Peter's expertise lies in integrated modelling and blue-green
          infrastructures, and his research focuses on developing quantitative
          approaches to aid urban planning and adaptation to climate change. He
          is particularly passionate about promoting urban nature-based
          solutions to tackle environmental challenges.
        </p>
      </div>

      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 my-auto"
            src={gilles.src}
            alt={gilles.name}
            width={gilles.width}
            height={gilles.height}
          />
          <div class="order-2 justify-center">
            Presentation date: <br />September 27 2023 @ 15:30
          </div>
        </div>
        <p class="text-lg text-slate-600 col-span-2 order-1 my-auto">
          Dr. Gilles Patry, a pioneering figure in environmental modeling and 
          co-founder of Hydromantis Environmental Software Solutions, 
          Inc., has a distinguished career spanning academia, leadership roles, 
          and numerous accolades, including honorary doctorates and prestigious 
          fellowships. At the conference's closing session, he will present a 
          keynote on the evolution of AI-based control systems for wastewater 
          treatment plants, tracing back to 1987 and highlighting key components, 
          challenges, and visionary contributors.
        </p>
      </div>
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-left mt-6 py-2">
        Panelists
      </h2>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={simon.src}
            alt={simon.name}
            width={simon.width}
            height={simon.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Simon Duchi obtained his MSc in environmental engineering at Ghent 
          University (Belgium). After starting his career at Antea Group as 
          sewer modelling engineer, he was the first team member joining the 
          AM-Team adventure. Simon helped designing and optimising numerous 
          full-scale plants using CFD modelling in combination with kinetic 
          modelling. He also leads several key projects as a project manager.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={branko.src}
            alt={branko.name}
            width={branko.width}
            height={branko.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-1 col-span-2 my-auto">
          Branko is an Associate Professor of Civil and Environmental Engineering
           at the University of Michigan, Ann Arbor, and the director of the Digital 
           Water Lab at U-M. His group is working to enable “self-driving” water 
           systems, which autonomously adapt themselves to changing conditions 
           using real-time data and controls. He is the founder of Open-Storm.org, 
           an open-source group dedicated to freely sharing hardware, software, and 
           case studies on smart water systems. He is a recipient of the US National 
           Science Foundation’s CAREER award and was recognized by US National Academy 
           of Engineering as a Gilbreth Lecturer.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-start grid grid-auto-rows-min-content align-middle">
        <Image
            class="rounded order-1 py-2 justify-self-left my-auto"
            src={jiang.src}
            alt={jiang.name}
            width={jiang.width}
            height={jiang.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-2 col-span-2 my-auto">
          Jiping Jiang, PhD, Associate Research Professor, Deputy director of Shenzhen 
          Municipal Engineering Lab of Environmental IoT Technologies, Southern University 
          of Science and Technology, China. His is also a Senior Water Supply and Drainage Engineer.
          His research interests mainly focus on Hydroinformatics and Environmental Informatics, 
          severing for smart management, control and governance on water quality related issues. 
          He has published 70 journal papers like WR, WRR, ACS ES&T Water, EM&S, J Hydrol. and host 
          30 research and engineering projects, localized in 7 provinces in China. He also severs 
          as the board member of Application Management Committee of Shenzhen Municipal Government, 
          the committee member of iEMSs, OMF and the editor of Water Sci Technol, China Environ Sci, etc. 
          He won the Gold Medal of “Water Star Award” for new scientists and engineers by YWP-China and 
          the First Prize of environmental protection science and technology award of Guangdong province, China.
        </p>
      </div>
      <div class="presenter grid grid-cols-3 gap-4 place-items-left mt-4 py-2">
        <div
          class="order-2 justify-self-end grid grid-auto-rows-min-content align-middle">
          <Image
            class="rounded order-2 py-2 justify-self-left my-auto"
            src={kate.src}
            alt={kate.name}
            width={kate.width}
            height={kate.height}
          />
        </div>
        <p class="text-lg text-slate-600 order-1 col-span-2 my-auto">
          Dr. Kate Newhart is an Assistant Professor of Environmental Engineering 
          with a specialization in data-driven monitoring and control for the water 
          sector. Dr. Newhart holds a PhD in Civil and Environmental Engineering from 
          the Colorado School of Mines and previously worked at Metro Water Recovery, 
          the largest wastewater utility in the Rocky Mountains, as an engineer in their 
          Technology and Innovation Division, where she led data handling and data-driven 
          modeling efforts. Dr. Newhart’s current work includes soft-sensor development for 
          disinfection, resource recovery, and DBP mitigation in collaboration with utilities 
          and universities across North America.
        </p>
      </div>
    </div>
  </Container>

  <style>
    .sticky {
      background-color: white;
    }
  </style>
</Layout>
