---
// @ts-ignore
import { Image } from "@astrojs/image/components";

export interface Logo {
  name: string;
  src: string;
  width: number;
  height: number;
}

export interface Props {
  header: string;
  logos?: Logo[];
}

const { header, logos } = Astro.props as Props;
---

<div>
  <h2 class="text-center text-2xl lg:text-3xl lg:tracking-tight font-semibold">
    {header}
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {
      logos.map((logo) => (
        <Image
          src={logo.src}
          alt={logo.name}
          width={logo.width}
          height={logo.height}
        />
      ))
    }
  </div>
</div>
